/* 
    Document   : newCascadeStyleSheet
    Created on : 27/05/2011, 23:40:04
    Author     : bruno
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    text-align: left;
    margin: 20px auto;
	background: white;
}

header {
    height: 100px;
    background: white;
}

#logo {
    height: 225px;
    width: 448px;
    float: left;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#content {
    width: 100%;
    float: left;
    background: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#050505;
    padding: 15px;
}

#footer {
    clear: left;
    background: #eee;
    text-align:center;
    padding: 1em 0;
    color:#09c;
}

p.conteudo{
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

a.excluir{
	color: #d00;
	font-size: 11px;
}

textarea{
	width: 400px;
	height: 200px;
}

