/* 
    Document   : newCascadeStyleSheet
    Created on : 27/05/2011, 23:40:04
    Author     : bruno
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    text-align: left;
    margin: 20px auto;
	background: white;
}

header {
    height: 100px;
    background: white;
}

#logo {
    height: 225px;
    width: 448px;
    float: left;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  border-right: 1px solid #09c;
  border-left: 1px solid #09c;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#content {
    width: 100%;
    float: left;
    background: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#09c;
}

#footer {
    clear: left;
    background: #eee;
    text-align:center;
    padding: 1em 0;
    color:#09c;
}

