
    <div id="main">
      <div id="header">        
        <% logo = image_tag("", :alt => "Logotipo", :id => "logo") %>
        <%= link_to logo, root_path %>
        <%= image_tag("", :alt => "Portal dos Professores", :id => "logoText") %>
      </div>

      <div id="content">
        content
      </div>

      <div id="footer">
        footer
      </div>
    </div>


