<!DOCTYPE html>
<html>
  <head>
    <title>Portal dos Professores</title>

    <%= render 'layouts/stylesheets' %>

    <!-- Load jQuery -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
	google.load("jquery", "1");
    </script>

    <!-- Load TinyMCE -->
    <script type="text/javascript" src="/jscripts/tiny_mce/jquery.tinymce.js"></script>
  </head>
	<div id="main">
		<%= render 'layouts/header' %>
	  <div id="content" class="round">
		<%= yield %>
	  </div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
