<!DOCTYPE html>
<html>
  <head>
    <title>Portal dos Professores</title>

    <%= render 'layouts/stylesheets' %>
  </head>
	<div id="main">
		<%= render 'layouts/header' %>
	  <div id="content" class="round">
		<%= yield %>
	  </div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
